{% extends "users/base_form.html" %}

{% block header %}
<title>重置密码</title>
{% endblock header %}

{% block content %}
<form method="POST" action="{% url 'users:reset_password' %}">
    {% csrf_token %}
    新密码：<input type="password" id="password" name="password">
    <p id="tips_password" style="color: red">{{ error_msg }}</p>
    确认密码：<input type="password" id="password2" name="password">
    <input type="button" onclick="set_submit(this.form)" value="确定">
</form>

<script type="text/javascript">
    function set_submit(obj) {
        password = document.getElementById("password").value.trim();
        password2 = document.getElementById("password2").value;
        if (password != password2){
            document.getElementById("tips_password").innerHTML="密码不一致";
        }
        else if (/^[0-9]+$/.test(password)) {
            document.getElementById("tips_password").innerHTML="密码不可以全为数字";
        }
        else if(password.length < 8){
            document.getElementById("tips_password").innerHTML="密码至少8个字符";
        }
        else {
            obj.submit()
        }
    }
</script>
{% endblock content %}