<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    <div class="divform">
        <div class="div_form_title">重置密码</div>
        <form method="POST" action="">
            {% csrf_token %}
            <ul>
                <li>
                    <span>手机号码</span>
                    <input type="text" id="phone" name="phone" class="long_input" onchange="verify_phone(this.value)">
                    <p id="tips_phone">{{ phone_error }}</p>
                </li>
                <li>
                    <span>验证码</span>
                    <input type="text" id="captcha" name="captcha" class="short_input" onchange="verify_captcha(this.value)">
                    <img id="captcha_img" src="{% url 'users:get_captcha' %}" alt="captcha" class="captcha">
                    <input type="button" value="换一张" onclick="new_captcha()">
                    <p id="tips_captcha">{{ captcha_error }}</p>
                </li>
                <li>
                    <span>短信验证码</span>
                    <input type="text" id="msg_code" name="msg_code" class="short_input" onchange="verify_msg_code(this.value)">
                    <input type="button" id="send_msg_button" value="获取短信验证码" onclick="send_msg(this)">
                    <p id="tips_msg">{{ msg_error }}</p>
                </li>
                <li>
                    <span>新密码</span>
                    <input type="password" id="password" name="password" class="long_input" onchange="verify_password(this.value.trim())">
                    <p id="tips_password">{{ password_error }}</p>
                </li>
                <li>
                    <span>确认密码</span>
                    <input type="password" id="password2" class="long_input" onchange="verify_password2(this.value)">
                </li>
                <li>
                    <input type="button" id="button" value="重置" class="button" onclick="setpwd_submit(this.form)">
                </li>
            </ul>
        </form>
    </div>

    <script>
        document.getElementById("phone").value = "{{ phone }}"
        document.getElementById("msg_code").value = "{{ msg_code }}"

        function verify_phone(phone) {
            document.getElementById("tips_phone").innerHTML=""
        }

        function verify_captcha(captcha){
            document.getElementById("tips_captcha").innerHTML=""
        }

        var count = 60;
        function settime(obj) {
            if (count == 0) {
                obj.removeAttribute("disabled");
                obj.value = "重新获取"
                count = 60;
            }
            else {
                obj.setAttribute("disabled", true)
                obj.value = "重新获取（" + count + "）";
                count --;
                setTimeout(() => {
                    settime(obj);
                }, 1000);
            }
        }

        function new_captcha() {
            img = document.getElementById("captcha_img")
            img.src = "{% url 'users:get_captcha' %}?1=" + Math.random()
        }

        function send_msg(obj) {
            phone = document.getElementById("phone").value.trim();
            captcha = document.getElementById("captcha").value.trim();
            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.ajax({
                url: "{% url 'users:ajax_send_msg_setpwd' %}",
                type: "POST",
                data: {
                    phone: phone,
                    captcha:captcha
                },
                success: function(error_msg) {
                    if (error_msg == "验证码错误") {
                        document.getElementById("tips_captcha").innerHTML=""+error_msg;
                    }
                    else if (error_msg == "该手机未注册") {
                        document.getElementById("tips_phone").innerHTML=""+error_msg;
                    }
                    else if (error_msg == "今日发送次数已达上限"){
                        document.getElementById("tips_msg").innerHTML = "" + error_msg;
                    }
                    else if (error_msg == '短信成功发送'){
                        document.getElementById("tips_msg").innerHTML = "" + error_msg;
                        settime(obj);
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function verify_msg_code(msg_code) {
            document.getElementById("tips_msg").innerHTML=""
        }

        function verify_password(password) {
            document.getElementById("tips_password").innerHTML=""
            if (/^[0-9]+$/.test(password)) {
                document.getElementById("tips_password").innerHTML="密码不可以全为数字";
            }
            else if(password.length < 8){
                document.getElementById("tips_password").innerHTML="密码长度至少8个字符";
            }
        }

        function verify_password2(password2) {
            document.getElementById("tips_password").innerHTML=""
            password = document.getElementById("password").value
            if (password2 != password) {
                document.getElementById("tips_password").innerHTML="密码不一致";
            }
        }

        function setpwd_submit(obj){
            phone = document.getElementById("phone").value.trim();
            msg_code = document.getElementById("msg_code").value.trim();
            password = document.getElementById("password").value.trim();
            password2 = document.getElementById("password2").value
            if (!(/^1[34578]\d{9}$/.test(phone))) {
                document.getElementById("tips_phone").innerHTML="手机号码非法";
            }
            else if (!(/^\d{6}$/.test(msg_code))) {
                document.getElementById("tips_msg").innerHTML="短信验证码错误";
            }
            else if (password != password2){
                document.getElementById("tips_password").innerHTML="密码不一致";
            }
            else if (/^[0-9]+$/.test(password)) {
                document.getElementById("tips_password").innerHTML="密码不可以全为数字";
            }
            else if(password.length < 8){
                document.getElementById("tips_password").innerHTML="密码长度至少8个字符";
            }
            else {
                obj.submit();
            }
        }
    </script>
</body>

</html>